<% wrap_layout :layout do %>
	<h2><%= current_page.data["title"] %></h2>
<div class="well">
	<p class="meta"><%= current_page.data["date"].strftime('%F') %></p>

	<div class="post">
		<%= yield %>
	</div>
</div>
<% end %>
