<h1>galleries</h1>
<% galleries.each do | name, files | %>
	<h3><%= name.downcase %></h3>
	<ul class="thumbnails">
		<% files.each do |file| %>
			<li class="span2">
				<% link_to("/files/galleries/#{name}/#{file}") do %>
					<%= image_tag("/files/galleries/#{name}/#{file}") %>
				<% end %>
			</li>
		<% end %>
	</ul>
<% end %>
