<div id="map" class="row-fluid">
  <iframe height="550px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?ie=UTF8&amp;q=112332+chatfield+ct+chaska+mn&amp;fb=1&amp;gl=us&amp;hnear=Chaska,+MN&amp;hl=en&amp;view=map&amp;cid=7855859304250970957&amp;iwloc=A&amp;ll=44.823941,-93.624053&amp;spn=0.006295,0.006295&amp;output=embed" class="span12"></iframe>

  <br /><small><a href="http://maps.google.com/maps?ie=UTF8&amp;q=112332+chatfield+ct+chaska+mn&amp;fb=1&amp;gl=us&amp;hnear=Chaska,+MN&amp;hl=en&amp;view=map&amp;cid=7855859304250970957&amp;iwloc=A&amp;ll=44.823941,-93.624053&amp;spn=0.006295,0.006295&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

</div>
