<div class="span9">
  <h1>biography</h1>
  <p>
  Minnesotan pianist, Marie (Neve) Friesen started her formal music education at the age of 4. She studied abroad at the prestigous Royal College of Music in London and locally with the equally prestigous teacher, Dr. Paul Wirth (Central MN Music School).
  </p>

  <p>
  Marie has competed in the majority of the youth competitions in the midwest, having won the MMTA Senior Young Artist competition in 2000, the GTCYS Concerto Competition in 2002, been a finalist in SPPTA (2x), YPSCA (3x), Lee National Competition (2x), Schubert Club (2x). She has performed as a soloist at Northrup Auditorium, Orchestra Hall, and the Ordway Center. She has participated in several masterclasses including those given by Christopher O'Reilly, Ivan Moravec, and Christopher Weldon.
  </p>

  <p>
  Marie and her husband, Chris, live in Chaska, MN with their 2 cats, Busaba and Phoebe.
  </p>
</div>

<div class="span3">
  <%=image_tag "block3.png" %>
</div>
