<div class="span12">

<h1>calendar</h1>
<div class="row-fluid">
  <iframe src="http://www.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=misspianoforte%40gmail.com&amp;color=%23A32929&amp;ctz=America%2FChicago" style=" border-width:0 " height="600" frameborder="0" scrolling="no" class="span10 offset1"></iframe>
</div>

</div>
