<div class="span12">

<h1>contact</h1>

<h3>marie friesen</h3>
<p><strong>email:</strong> <%= mail_to 'marie@misspianoforte.com', "marie AT misspianoforte DOT com" %></p>
<p class="phone"><strong>phone:</strong> <a href="tel:+19525941084"> 952.594.1084</a></p>

</div>
