<div class="span9">
  <h1>studio</h1>
  <p class="lead">
  Marie's Music Studio is the teaching studio of Marie Friesen.
  </p>

  <h3>how lessons work</h3>

  <p>
  Lessons are given at Marie's studio, which is located in her home in Chaska, MN. We have two grand pianos, giving the freedom to rehearse two piano duets and concerti. Lessons are given one on one and usually last a half hour for beginners and intermediate students. Advanced students would be encouraged to have hour long lessons. Parents are encouraged to observe lessons so they know what should be practiced during the week, and for their own education and enjoyment. If the student prefers their parents not to observe, we have a sitting room adjacent to the studio.
  </p>

  <h3>practicing</h3>

  <p>
  Practicing is the responsibility of every musician. After discussing your goals with Marie at your introductory lesson, the amount of practice needed to achieve them will be duscussed. Once that amount is arrived at, she will expect that you are doing it. If you are not, you should tell her, because you will likely need to readjust your goals.
  </p>

  <h3>rates</h3>

  <p>
  Quite simply, lesson rates are as follows:
  </p>

  <dl class="dl-horizontal">
    <dt>$15.00</dt> <dd>30 minutes</dd>
    <dt>$22.50</dt> <dd>45 minutes</dd>
    <dt>$30.00</dt> <dd>60 minutes</dd>
  </dl>

  <h3>location</h3>

  <p>
  Marie's Music Studio is located at 112332 Chatfield Court; Chaska, MN
  </p>
  <%= partial 'map' %>

</div>
<div class="span3">
</div>
